In [1]:
import histdatacom
from histdatacom.options import Options
options = Options()

import datatable as dt
from datatable import f
from datatable import update

options.api_return_type = "pandas"  # "datatable", "pandas", or "arrow"
options.formats = {"ascii"}  # Must be {"ascii"}
options.timeframes = {"tick-data-quotes"}  # can be tick-data-quotes or 1-minute-bar-quotes
options.pairs = {"eurusd"}
options.start_yearmonth = "2021-04"
options.end_yearmonth = "now"
options.cpu_utilization = "high"

data = histdatacom(options)  # (Jupyter)

Merging 4 records... ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━   0% 0:00:00

In [ ]:
# DT = data.copy()
# print(f"""
#     type: {type(DT)}
#     shape: {DT.shape}
#     names: {DT.names}
#     types: {DT.stypes}\n\n""",
#     DT[0:5,:])

In [ ]:
# DT = data.copy()
# dt_timestamp_to_datetime = ((f.datetime * 10**6).as_type(dt.Type.time64))
# DT[:, update(datetime = dt_timestamp_to_datetime)]
# print(f"""
#     type: {type(DT)}
#     shape: {DT.shape}
#     names: {DT.names}
#     types: {DT.stypes}\n\n""",
#     DT[0:5,:])

In [2]:
data_list = data.copy()

In [3]:
print(data_list)

[{'timeframe': 'M1', 'pair': 'USDCAD', 'records': [<histdatacom.records.Record object at 0x106f7ffd0>, <histdatacom.records.Record object at 0x1059793c0>, <histdatacom.records.Record object at 0x106f7ff10>, <histdatacom.records.Record object at 0x106f7fee0>, <histdatacom.records.Record object at 0x106f7ff40>], 'data':              datetime     open     high      low    close  vol
0       1609711200000  1.27136  1.27201  1.27136  1.27201    0
1       1609711260000  1.27207  1.27241  1.27207  1.27220    0
2       1609711320000  1.27211  1.27219  1.27211  1.27219    0
3       1609711380000  1.27212  1.27261  1.27212  1.27261    0
4       1609711440000  1.27268  1.27268  1.27261  1.27261    0
...               ...      ...      ...      ...      ...  ...
483946  1650664440000  1.27121  1.27132  1.27114  1.27131    0
483947  1650664500000  1.27129  1.27137  1.27102  1.27106    0
483948  1650664560000  1.27107  1.27114  1.27098  1.27101    0
483949  1650664620000  1.27105  1.27105  1.27091  1.27091    0
483950  1650664680000  1.27091  1.27097  1.27073  1.27097    0

[483951 rows x 6 columns]}, {'timeframe': 'M1', 'pair': 'EURUSD', 'records': [<histdatacom.records.Record object at 0x105979990>, <histdatacom.records.Record object at 0x1059796c0>, <histdatacom.records.Record object at 0x1059796f0>, <histdatacom.records.Record object at 0x105979a50>, <histdatacom.records.Record object at 0x1059798a0>], 'data':              datetime     open     high      low    close  vol
0       1609711200000  1.22396  1.22396  1.22373  1.22395    0
1       1609711260000  1.22387  1.22420  1.22385  1.22395    0
2       1609711320000  1.22396  1.22398  1.22382  1.22382    0
3       1609711380000  1.22383  1.22396  1.22376  1.22378    0
4       1609711440000  1.22378  1.22385  1.22296  1.22347    0
...               ...      ...      ...      ...      ...  ...
484172  1650664440000  1.07976  1.08014  1.07976  1.08014    0
484173  1650664500000  1.08013  1.08021  1.07997  1.08000    0
484174  1650664560000  1.08000  1.08000  1.07956  1.07968    0
484175  1650664620000  1.07980  1.07980  1.07958  1.07968    0
484176  1650664680000  1.07980  1.07986  1.07963  1.07963    0

[484177 rows x 6 columns]}]

In [ ]:
options.api_return_type = "pandas"
options.formats = {"ascii"}
options.timeframes = {"1-minute-bar-quotes"}
options.pairs = {"eurusd","usdcad"}
options.start_yearmonth = "2021-01"
options.end_yearmonth = "now"
options.cpu_utilization = "75"