In [1]:
import histdatacom
from histdatacom.options import Options

In [2]:
options = Options()

In [3]:
options.api_return_type = "datatable"
options.formats = {"ascii"}
options.timeframes = {"tick-data-quotes"}
options.pairs = {"cadchf"}
options.start_yearmonth = "2022-04"
options.end_yearmonth = "now"
options.cpu_utilization = "high"

In [4]:
data = histdatacom(options)  # (Jupyter)

Merging 4 records... ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━   0% 0:00:00

In [5]:
print(data)
print(type(data))

      |      datetime     open     high      low    close    vol
      |         int64  float64  float64  float64  float64  int32
----- + -------------  -------  -------  -------  -------  -----
    0 | 1648789200000  0.74014  0.74016  0.73994  0.74001      0
    1 | 1648789260000  0.74002  0.74002  0.73994  0.73999      0
    2 | 1648789320000  0.73997  0.74001  0.73997  0.74         0
    3 | 1648789380000  0.73999  0.74016  0.73999  0.74012      0
    4 | 1648789440000  0.74013  0.74015  0.74003  0.74007      0
    5 | 1648789500000  0.74006  0.7401   0.74006  0.74009      0
    6 | 1648789560000  0.74009  0.74014  0.74007  0.74009      0
    7 | 1648789620000  0.74008  0.74011  0.74008  0.74011      0
    8 | 1648789680000  0.7401   0.74016  0.7401   0.74016      0
    9 | 1648789740000  0.74016  0.74016  0.74013  0.74014      0
   10 | 1648789800000  0.74013  0.74014  0.74008  0.7401       0
   11 | 1648789860000  0.74012  0.74015  0.74009  0.74015      0
   12 | 1648789920000  0.74013  0.74014  0.74006  0.74009      0
   13 | 1648789980000  0.74009  0.74018  0.74009  0.74016      0
   14 | 1648790040000  0.74014  0.74016  0.74013  0.74014      0
    … |             …        …        …        …        …      …
22254 | 1650664440000  0.75245  0.75245  0.75222  0.75222      0
22255 | 1650664500000  0.75222  0.75235  0.75221  0.75235      0
22256 | 1650664560000  0.75235  0.75252  0.75231  0.75249      0
22257 | 1650664620000  0.75249  0.75259  0.75241  0.75255      0
22258 | 1650664680000  0.75258  0.75273  0.75249  0.75269      0
[22259 rows x 6 columns]

<class 'datatable.Frame'>

In [6]:
# print(data[0]['timeframe'], data[0]['pair'])
# print(data[0]['data'])
# print(type(data[0]['data']))

In [7]:
import datatable as dt
from datatable import f
from datatable import update

In [8]:
DT = data.copy()
print(DT)

      |      datetime     open     high      low    close    vol
      |         int64  float64  float64  float64  float64  int32
----- + -------------  -------  -------  -------  -------  -----
    0 | 1648789200000  0.74014  0.74016  0.73994  0.74001      0
    1 | 1648789260000  0.74002  0.74002  0.73994  0.73999      0
    2 | 1648789320000  0.73997  0.74001  0.73997  0.74         0
    3 | 1648789380000  0.73999  0.74016  0.73999  0.74012      0
    4 | 1648789440000  0.74013  0.74015  0.74003  0.74007      0
    5 | 1648789500000  0.74006  0.7401   0.74006  0.74009      0
    6 | 1648789560000  0.74009  0.74014  0.74007  0.74009      0
    7 | 1648789620000  0.74008  0.74011  0.74008  0.74011      0
    8 | 1648789680000  0.7401   0.74016  0.7401   0.74016      0
    9 | 1648789740000  0.74016  0.74016  0.74013  0.74014      0
   10 | 1648789800000  0.74013  0.74014  0.74008  0.7401       0
   11 | 1648789860000  0.74012  0.74015  0.74009  0.74015      0
   12 | 1648789920000  0.74013  0.74014  0.74006  0.74009      0
   13 | 1648789980000  0.74009  0.74018  0.74009  0.74016      0
   14 | 1648790040000  0.74014  0.74016  0.74013  0.74014      0
    … |             …        …        …        …        …      …
22254 | 1650664440000  0.75245  0.75245  0.75222  0.75222      0
22255 | 1650664500000  0.75222  0.75235  0.75221  0.75235      0
22256 | 1650664560000  0.75235  0.75252  0.75231  0.75249      0
22257 | 1650664620000  0.75249  0.75259  0.75241  0.75255      0
22258 | 1650664680000  0.75258  0.75273  0.75249  0.75269      0
[22259 rows x 6 columns]

In [9]:


dt_timestamp_to_datetime = ((f.datetime * 10**6).as_type(dt.Type.time64))

In [10]:
DT.names

('datetime', 'open', 'high', 'low', 'close', 'vol')

In [11]:
DT = data.copy()
DT[:, update(datetime = dt_timestamp_to_datetime)]

In [12]:
print(DT)

      | datetime                open     high      low    close    vol
      | time64               float64  float64  float64  float64  int32
----- + -------------------  -------  -------  -------  -------  -----
    0 | 2022-04-01T05:00:00  0.74014  0.74016  0.73994  0.74001      0
    1 | 2022-04-01T05:01:00  0.74002  0.74002  0.73994  0.73999      0
    2 | 2022-04-01T05:02:00  0.73997  0.74001  0.73997  0.74         0
    3 | 2022-04-01T05:03:00  0.73999  0.74016  0.73999  0.74012      0
    4 | 2022-04-01T05:04:00  0.74013  0.74015  0.74003  0.74007      0
    5 | 2022-04-01T05:05:00  0.74006  0.7401   0.74006  0.74009      0
    6 | 2022-04-01T05:06:00  0.74009  0.74014  0.74007  0.74009      0
    7 | 2022-04-01T05:07:00  0.74008  0.74011  0.74008  0.74011      0
    8 | 2022-04-01T05:08:00  0.7401   0.74016  0.7401   0.74016      0
    9 | 2022-04-01T05:09:00  0.74016  0.74016  0.74013  0.74014      0
   10 | 2022-04-01T05:10:00  0.74013  0.74014  0.74008  0.7401       0
   11 | 2022-04-01T05:11:00  0.74012  0.74015  0.74009  0.74015      0
   12 | 2022-04-01T05:12:00  0.74013  0.74014  0.74006  0.74009      0
   13 | 2022-04-01T05:13:00  0.74009  0.74018  0.74009  0.74016      0
   14 | 2022-04-01T05:14:00  0.74014  0.74016  0.74013  0.74014      0
    … | …                          …        …        …        …      …
22254 | 2022-04-22T21:54:00  0.75245  0.75245  0.75222  0.75222      0
22255 | 2022-04-22T21:55:00  0.75222  0.75235  0.75221  0.75235      0
22256 | 2022-04-22T21:56:00  0.75235  0.75252  0.75231  0.75249      0
22257 | 2022-04-22T21:57:00  0.75249  0.75259  0.75241  0.75255      0
22258 | 2022-04-22T21:58:00  0.75258  0.75273  0.75249  0.75269      0
[22259 rows x 6 columns]

In [13]:
# from histdatacom.influx import _Influx

# # 20220201 001817193,0.658910,0.659050,0
# row = {
#     'msSinceEpochUTC': "20220401 000000302",
#     'bidQuote': "0.740140",
#     'askQuote': "0.740380",
#     "vol": "0"
# }

# print(_Influx.convert_datetime_to_utc_timestamp("ASCII","T", row))
# # f"openbid={row['openBid']},highbid={row['highBid']},lowbid={row['lowBid']},closebid={row['closeBid']}".replace(" ", "")
# print(DT[0, datetime])

# print(1648789200302 == 1648789200302)

In [14]:
# row = {
#     'secSinceEpochUTC': "20150707 182400",
#     'openBid': "17668.000000",
#     'highBid': "17668.000000",
#     'lowbid': "17668.000000",
#     'closeBid': "17668.000000",
#     "vol": "0"
# }

# print(_Influx.convert_datetime_to_utc_timestamp("ASCII","M1", row))